   .form-container {
       width: 300px;
       margin: 0 auto;
       margin-top: 60px;
   }

   .form-group {
       margin-bottom: 20px;
   }

   .form-group label {
       display: block;
       margin-bottom: 5px;
       font-weight: bold;
   }

   .form-group input[type="text"] {
       width: 100%;
       padding: 5px;
       border: 1px solid #ccc;
       border-radius: 3px;
   }

   .btn-save {
       padding: 10px 20px;
       background-color: darkcyan;
       color: white;
       border: none;
       border-radius: 100px;
       cursor: pointer;
       margin-left: 20px;
       width: 150px;
   }
   .btn-save-back{
    display: flex;

   }
   .addn{
    text-align: center;
    font-size: x-large;
    color:darkgray;
    margin-bottom: 20px;
   }